@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../public/fonts/Lausanne-300.woff2);
    

}
@font-face {
    font-family: font2;
    src: url(../public/fonts/Lausanne-500.woff2);
    

}
@font-face {
    font-family: font3;
    src: url(../public/fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf);
    

}
@font-face {
    font-family: font4;
    src: url(../public/fonts/Cormorant_Garamond/static/CormorantGaramond-Italic.ttf);
    

}


